@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<partial name="_menu" />

<div class="p-3"></div>

Hello <span class="fw-bold">@ViewBag.User</span>, Thank you for using ApplyLog!
