@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<partial name="_menu" />

<p class="text-center m-2 fs-3">Coming soon (v3.0)</p>