
<partial name="_menu" />

<hr />
<h5>Curriculum Vitae</h5>

<div class="row text-center p-1">
    <div class="col-lg-3 border rounded p-1 mt-1">
        <a asp-action="Personal" class="nav-link fs-5">Personal Info</a>
    </div>
    <div class="col-lg-3 border rounded p-1 mt-1">
        <a asp-action="EducationIndex" class="nav-link fs-5">Education</a>
    </div>
    <div class="col-lg-3 border rounded p-1 mt-1">
        <a asp-action="WorkIndex" class="nav-link fs-5">Work Experence</a>
    </div>
    <div class="col-lg-3 border rounded p-1 mt-1">
        <a asp-action="LanguageIndex" class="nav-link fs-5">Languages</a>
    </div>
</div>
