@model TODO
@{
    ViewData["Title"] = "Create TODO";
}

<h1>Create TODO</h1>
<form asp-action="Save" asp-controller="Todo" method="post" class="form-group">
    <partial name="_formSave" />
</form>


