@model TODO
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete TODO ID: @Model.ID</h1>
<table class="table">
    <tr>
        <th class="w-25">Titel</th>
        <td>@Model.Titel</td>
    </tr>
    <tr>
        <th class="w-25">Priority</th>
        <td>@Model.PriorityLevel</td>
    </tr>
    <tr>
        <th class="w-25">Description</th>
        <td>@Model.Describtion</td>
    </tr>
</table>
<p>Has been deleted!</p>
<p><a class="btn btn-primary" asp-area="" asp-controller="Todo" asp-action="Index">Back</a></p>

