@model TODO
@{
    ViewData["Title"] = "Edit";
}

<form method="post" action="/Todo/EditSave" class="form-group">
    <fieldset class="form-group">
        <table>
            <tr>
            <tr>
                <td><input type="hidden" name="ID" id="ID" value="@Model.ID" /></td>
            </tr>
                <td><label for="titel">Titel:</label></td>
                <td><input type="text" id="titel" name="Titel" class="form-control" value="@Model.Titel" required /></td>
            </tr>
            <tr>
                <td><label for="priority">Priority: </label></td>
                <td>
                    <select asp-for="PriorityLevel" name="PriorityLevel" class="form-control" required>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="deadline">Deadline:</label></td>
                <td>
                    <input type="date" id="deadline" name="Deadline" value="@Model.Deadline.ToString("yyyy-MM-dd")" class="form-control" required />
                </td>
            </tr>
            <tr>
                <td><label for="description">Description:</label></td>
                <td><textarea id="description" name="Describtion" class="form-control" rows="4" cols="50" required>@Model.Describtion</textarea></td>
            </tr>
            <tr>
                <td rowspan="2"><a class="btn btn-primary" asp-area="" asp-controller="Todo" asp-action="Index">Back</a> <input type="submit" id="saveButton" value="Edit" class="btn btn-primary" /></td>
            </tr>
        </table>
    </fieldset>
</form>

