@model TODO
@{
    ViewData["Title"] = "Edit TODO";
}
<h1>TODO - Edit</h1>
<form asp-action="EditSave" asp-controller="Todo" method="post" class="form-group">
    <input asp-for="ID" type="hidden" />
    <partial name="_formSave" />
</form>

