@model TODO
@{
    ViewData["Title"] = "Save TODO";
}

<h1>TODO - Save</h1>
<partial name="_formShow" />
<p>Todo was successfully saved.</p>
<p><a asp-controller="Home" asp-action="Index">Home</a> | <a asp-controller="Todo" asp-action="Index">Back</a> | <a asp-controller="Todo" asp-action="Delete" asp-route-id="@Model.ID">Delete</a></p>


