@model TODO
@{
    ViewData["Title"] = "View TODO";
}
<h1>TODO - Edit</h1>
<partial name="_formShow" />
<p><a asp-controller="Todo" asp-action="Index">Back</a> | <a asp-controller="Todo" asp-action="Edit" asp-route-id="@Model.ID">Edit</a></p>


