@model Bewerbung

<fieldset class="form-group">
    <legend>Job Description</legend>
    <table>
        <tr></tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="Position"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="Position" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="Position" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="JobOrt"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="JobOrt" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="JobOrt" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="WhenApplied"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="WhenApplied" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="WhenApplied" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="InterviewDate"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="InterviewDate" class="form-control" /></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="Gehalt"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="Gehalt" class="form-control" placeholder="Monthly"/></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="Gehalt" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="HomeOffice"></label></td>
            <td style="padding: 0.2rem;">
                <select asp-for="HomeOffice" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                </td>
            <td style="padding: 0.2rem;"><span asp-validation-for="HomeOffice" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="JobType"></label></td>
            <td style="padding: 0.2rem;">
                <select asp-for="JobType" class="form-control">
                    <option value="Full_Time">Full Time</option>
                    <option value="Part_Time">Part Time</option>
                    <option value="Internship">Internship</option>
                    <option value="Contract">Contract</option>
                </select>
            </td>
            <td style="padding: 0.2rem;"><span asp-validation-for="HomeOffice" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="ApplicationLink"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="ApplicationLink" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="ApplicationLink" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="PositionComment"></label></td>
            <td style="padding: 0.2rem;"><textarea asp-for="PositionComment" class="form-control" rows="4" cols="50" ></textarea></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="PositionComment" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="Result"></label></td>
            <td style="padding: 0.2rem;">
                <select asp-for="Result" class="form-control">
                    <option value="Pending">Pending</option>
                    <option value="Next_Round">Next Round</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Accepted">Accepted</option>
                </select>
            </td>
            <td style="padding: 0.2rem;"><span asp-validation-for="Result" class="text-danger"></span></td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <legend>Company Info</legend>
    <table>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="Firma.CompanyName"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="Firma.CompanyName" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="Firma.CompanyName" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="Firma.Ort"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="Firma.Ort" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="Firma.Ort" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="Firma.Kontakt.Email"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="Firma.Kontakt.Email" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="Firma.Kontakt.Email" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="Firma.Kontakt.Number"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="Firma.Kontakt.Number" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="Firma.Kontakt.Number" class="text-danger"></span></td>
        </tr>
        <tr>
            <td style="padding: 0.2rem;"><label asp-for="Firma.Kontakt.Website"></label></td>
            <td style="padding: 0.2rem;"><input asp-for="Firma.Kontakt.Website" class="form-control" /></td>
            <td style="padding: 0.2rem;"><span asp-validation-for="Firma.Kontakt.Website" class="text-danger"></span></td>
        </tr>
    </table>
    <p><a class="btn btn-primary" asp-area="" asp-controller="Application" asp-action="Index">Back</a> <input type="submit" value="Save" class="btn btn-primary" /> </p>
</fieldset>
