
@{
    ViewData["Title"] = "Create";
}

<h1>Add new JobApplication</h1>
<form method="post" action="/Application/Save">
    <fieldset>
        <legend>Job Description</legend>
        <table>
            <tr>
                <td><label for="position">Position:</label></td>
                <td><input type="text" class="form-control" id="position" name="position" required/></td>
            </tr>
            <tr>
                <td><label for="jobort">Job Ort:</label></td>
                <td><input type="text" class="form-control" id="jobort" name="jobort" required /></td>
            </tr>
            <tr>
                <td><label for="when">When Applied:</label></td>
                <td><input type="date" id="when" class="form-control" name="whenapplied" value="@DateTime.Now.ToString("yyyy-MM-dd")" required /></td>
            </tr>
            <tr>
                <td><label for="kommentar">Kommentar:</label></td>
                <td><textarea id="kommentar" class="form-control"  name="kommentar" class="form-control" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td><label for="salary">Salary:</label></td>
                <td><input type="number" class="form-control" id="salary" name="gehalt" /></td>
            </tr>
            <tr>
                <td><label for="home">Homeoffice option:</label></td>
                <td>
                    <select id="home" class="form-control" name="homeoffice" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="url">Job URL:</label></td>
                <td><input type="text" class="form-control" id="url" name="applicationlink" required /></td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>Company Info</legend>
        <table>
            <tr>
                <td><label for="company">Company Name:</label></td>
                <td><input type="text" class="form-control" id="company" name="CompanyName" required/></td>
            </tr>
            <tr>
                <td><label for="companylocation">Location:</label></td>
                <td><input type="text" class="form-control" id="companylocation" name="Ort" /></td>
            </tr>
            <tr>
                <td><label for="tel">Tel Number:</label></td>
                <td><input type="text" class="form-control" id="tel" name="number" /></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" class="form-control" id="email" name="email" /></td>
            </tr>
            <tr>
                <td><label for="website">Website:</label></td>
                <td><input type="text" class="form-control" id="website" name="website" /></td>
            </tr>
        </table>
    </fieldset>
    <p><a class="btn btn-primary" asp-area="" asp-controller="Application" asp-action="Index">Back</a> <input type="submit" value="Add" class="btn btn-primary" /> </p>
</form>

