
@{
    ViewData["Title"] = "Create";
}

<h1>Add new JobApplication</h1>
<form>
    <fieldset>
        <legend>Job Description</legend>
    </fieldset>
    <fieldset>
        <legend>Company Info</legend>
        <table>
            <tr>
                <td><label for="company">Company Name:</label></td>
                <td><input type="text" id="company" name="firmName" /></td>
            </tr>
            <tr>
                <td><label for="companylocation">Location:</label></td>
                <td><input type="text" id="companylocation" name="Ort" /></td>
            </tr>
            <tr>
                <td><label for="tel">Tel Number:</label></td>
                <td><input type="text" id="tel" name="telnummer" /></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" id="email" name="email" /></td>
            </tr>
            <tr>
                <td><label for="website">Website:</label></td>
                <td><input type="text" id="website" name="website" /></td>
            </tr>
        </table>
    </fieldset>
</form>

