@model Bewerbung
@{
    ViewData["Title"] = "Job Application - Delete";
}

<h1>Job Application - Delete</h1>
<partial name="_formShow" />
<p>Job application deleted successfully.</p>
<p><a asp-controller="Home" asp-action="Index">Home</a> | <a asp-controller="Application" asp-action="Index">Back</a></p>


