@model Bewerbung
@{
    ViewData["Title"] = "EditSave";
}

<h1>EditSave</h1>
<partial name="_formShow" />
<p>Job application successfully changed.</p>
<p><a asp-controller="Application" asp-action="Index">Back</a> | <a asp-controller="Application" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | <a asp-controller="Application" asp-action="Delete" asp-route-id="@Model.Id">Delete</a></p>
