
@{
    ViewData["Title"] = "View Job Application";
}

<h1>Job Application - View</h1>
<partial name="_formShow" />
<p><a asp-controller="Application" asp-action="Index">Back</a> | <a asp-controller="Application" asp-action="Edit" asp-route-id="@Model.id">Edit</a> | <a asp-controller="Application" asp-action="Delete" asp-route-id="@Model.id">Delete</a></p>


