
@{
    ViewData["Title"] = "Index";
}

<h1>AI Assistent</h1>
<p>Hello I am your AI assistent. Pick up task from our list of services you would like to try.</p>
<div class="row text-center p-2">
    <div class="col-sm-4 border rounded p-1 mt-1">
        <a asp-action="loadAI" asp-route-ai="letter" class="nav-link fs-4" data-ajax="true" data-ajax-update="#refresh" data-ajax-update="GET" data-ajax-mode="replace">Generate Cover Letter</a>
    </div>
    <div class="col-sm-4 border rounded p-1 mt-1">
        <a asp-action="loadAI" asp-route-ai="email" class="nav-link fs-4" data-ajax="true" data-ajax-update="#refresh" data-ajax-update="GET" data-ajax-mode="replace">Generate Email</a>
    </div>
    <div class="col-sm-4 border rounded p-1 mt-1">
        <a asp-action="loadAI" asp-route-ai="cv" class="nav-link fs-4" data-ajax="true" data-ajax-update="#refresh" data-ajax-update="GET" data-ajax-mode="replace">Generate Curriculum Vitae</a>
    </div>
</div>

<div id="refresh">

</div>

