@using ApplyLog.GermanCityModels
@model List<City>
<div id="map" style="width: 450px; height: 450px;"></div>


<script>
	const map = L.map('map').setView([50, 10], 5);

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	const cities = @Html.Raw(Json.Serialize(Model));

	cities.forEach(city => {
		let name = city.name;
		let lat = city.coords.lat;
		let lon = city.coords.lon;

		const marker = L.marker([lat, lon]).addTo(map)
				.bindPopup(name).openPopup();

	});
</script>